* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

#search {
  margin: 0 auto;
  top: 120px;
}

.card {
  background-color: black;
  max-width: 900px;
  margin: 60px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(171, 172, 175, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 150px;
}

#profile-img {
  width: 150px;
  margin: 10px 50px;
  border-radius: 30px !important;
}
#bio {
  margin-left: 50px;
  font-size: 14px;
}

.card-title {
  margin-top: 10px;
}
.card-body {
  margin-left: -50px;
}
#details {
  margin-top: 24px;
}

#user-repo {
  margin-top: 24px;
}
#user-repo a {
  font-size: small;
  margin: 5px;
}