body {
  background: linear-gradient(to right, rgb(108, 159, 200), rgb(88, 197, 137));
  font-family: cursive !important;
}
#toggle-start {
  margin: auto;
  justify-content: center;
}
#toggle-summary {
  margin: auto;
  justify-content: center;
}
.questions {
  display: none;
}
.toggle-summary {
  display: none;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
.toggle-content {
  padding: 30px;
}
#btn-start {
  display: flex;
  margin: auto;
  margin-top: 30px;
  background: linear-gradient(to right, rgb(85, 181, 132), #9c7cdc);
}
.btn-start:hover {
  box-shadow: 2px 4px #319ed4;
  cursor: pointer;
}
.toggle-start {
  border: 3px solid #cfd8e2;
  background-color: rgb(3, 38, 49);
  color: #c6e5e3;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 6px 6px #c6e5e3;
}
.toggle-question {
  margin: auto;
  display: flex;
  justify-content: center;
  color: #c6e5e3;
}
.questions {
  max-width: 660px;
  background-color: rgb(3, 38, 49);
  padding: 45px 45px;
  border-radius: 12px;
  box-shadow: 6px 6px #cfd8e2;
}
.toggle-summary {
  max-width: 660px;
  background-color: rgb(3, 38, 49);
  padding: 45px 45px;
  border-radius: 12px;
  box-shadow: 6px 6px #cfd8e2;
}
.questions h3 {
  font-size: 24px;
  font-weight: 12px;
  margin: 6px 0 9px 0;
  margin-bottom: 45px;
}
.questions li {
  font-size: 15px;
  margin-top: 12px;
  list-style: none;
}
input {
  cursor: pointer;
}
#displayScore {
  background-color: lightgrey;
  margin-top: 12px;
  padding: 6px 6px;
  border-radius: 6px;
  box-shadow: 2px 2px #cfd8e2;
}
.scores {
  display: none;
}
.btn-next-prev {
  display: flex;
  flex-direction: row;
}
#btn-next {
  display: flex;
  margin: auto;
  margin-top: 42px;
  width: 150px;
  justify-content: center;
  background: linear-gradient(to right, rgb(85, 181, 132), #9c7cdc);
}
.btn-next:hover {
  box-shadow: 2px 4px #319ed4;
  cursor: pointer;
}
#btn-previous {
  display: flex;
  margin: auto;
  margin-top: 42px;
  width: 150px;
  justify-content: center;
  background: linear-gradient(to right, rgb(85, 181, 132), #9c7cdc);
}
.btn-previous:hover {
  box-shadow: 2px 4px #319ed4;
  cursor: pointer;
}

#displayScore {
  text-align: center;
}
#displayScore h3 {
  font-size: 24px;
  color: #9c7cdc;
}
#displayScore h3 {
  font-size: 24px;
  color: #9c7cdc;
}
#displayScore .btn {
  text-align: center;
}
#displayScore p {
  color: rgb(178, 26, 183);
}
#quiz-progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-summary h2 {
  padding: 30px;
  text-align: center;
}
#summary h3 {
  text-align: center;
}
#divider-line {
  margin-top: 30px;
}
#summary p {
  margin-left: 25%;
}
